.client-Header {
  height: 100vh;
  @include flex(center);
  flex-direction: column;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: $white;
  padding: 0 2rem;

  @media (max-width: $med-desktop) {
    height: 80vh;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/yoga1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    @media (max-width: $med-desktop) {
      height: 80vh;
    }
  }

  .client-center {
    width: 1000px;
    text-align: center;
    @media (max-width: $big-desktop) {
      width: 800px;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: $sm-font;

      @media (max-width: $med-desktop) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }

    p {
      font-size: $main-size;
      width: 70%;
      margin: 0 auto 2rem;
      line-height: 1.5;

      @media (max-width: $med-desktop) {
        font-size: 1rem;
      }
    }
  }
}

.SearchClassForm {
  .SearchForm {
    padding: 0 1rem;

    label {
      position: relative;

      #search {
        display: inline-block;
        width: 500px;
        font-size: 1.1rem;
        padding: 0.7rem;
        border-radius: 5px;
        border: 1px solid grey;

        @media (max-width: $med-desktop) {
          width: 300px;
          padding: 0.4rem;
          font-size: 1rem;
        }
      }
    }

    button {
      margin-left: 1rem;
      font-size: 1.3rem;
      padding: 0.6rem 0.9rem;
      border-radius: 4px;

      @include btn($white, $main-color);

      @media (max-width: $med-desktop) {
        font-size: 1rem;
        padding: 0.4rem 0.7rem;
      }
    }
  }
}

.error-search {
  position: absolute;
  top: 3rem;
  left: 4rem;
}
