.ClientResults {
  .ClientResults-wrapper {
    .ClientResults-show {
      width: $main-width;
      margin: 4rem auto;

      h3 {
        font-size: 1.5rem;

        @media (max-width: $med-desktop) {
          font-size: 1.4rem;
        }
      }

      .display-results {
        margin: 4rem 0 0;
        display: flex;
        flex-wrap: wrap;
      }

      .go-back {
        margin-top: 2rem;

        a {
          margin-top: 1.5rem;
          padding: 0.7rem 2rem;
          border-radius: 4px;
          text-decoration: none;
          text-transform: capitalize;
          font-size: 1rem;

          @include btn($white, $main-color);

          @media (max-width: $med-desktop) {
            font-weight: $sm-font;
            padding: 0.5rem 1.5rem;
          }
        }
      }
    }
  }
}
