.Content {
  width: $width-content;
  margin: 6rem auto;
  position: relative;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;

    @media (max-width: $med-desktop) {
      font-size: 1.6rem;
    }
  }

  h4 {
    text-align: center;
    text-transform: capitalize;
    background: rgb(47, 153, 47);
    color: $white;
    width: 220px;
    margin: 0 auto;
    border-radius: 3px;

    @include flex(center);

    padding: 0.6rem;
    position: absolute;
    top: -30%;
    left: 50%;
    font-weight: 300;
    transform: translate(-30%, -50%);

    @media (max-width: $med-desktop) {
      left: 45%;
      font-size: 1.3rem;
    }

    @media (max-width: $mobile) {
      left: 40%;
    }
  }

  p {
    font-size: 1.2rem;
    margin: 0.8rem 0;
  }
}

.AddClassesForm {
  max-width: $width-content;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;

  form {
    width: 100%;

    .div-parent {
      width: 100%;
      @include flex(space-around);

      @media (max-width: $desktop) {
        flex-wrap: wrap;
      }
      // border: 1px dotted blue;

      .div-one,
      .div-two,
      .div-three {
        width: 500px;
        margin: 0 0.5rem;

        @media (max-width: $desktop) {
          width: 500px;
          margin: 0 0 0.5rem;
        }
      }

      label {
        display: inline-block;
        margin-bottom: 2rem;
        width: 100%;
        position: relative;

        @media (max-width: $med-desktop) {
          width: 80%;
        }

        input {
          width: 100%;
          display: block;
          outline: none;
          border: none;
          border-bottom: 1px solid grey;
          padding: 0.5rem;
          font-size: 1rem;
          color: $black;

          &:hover {
            border-bottom: 2px solid #333;
          }
        }

        .error {
          color: red;
          position: absolute;
          top: 2rem;
          left: 0.5rem;
          font-size: 0.9rem;

          @media (max-width: $med-desktop) {
            font-size: 0.7rem;
          }
        }
      }
    }

    .date-time-picker {
      @include flex(space-between);

      width: 60%;
      margin: 0 auto;
    }

    #time-picker,
    #date-picker-dialog {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0.5rem;
      display: block;
      width: 100%;

      @media (max-width: $med-desktop) {
        width: 80%;
      }
    }
  }

  .btn-add {
    button {
      padding: 0.7rem 2rem;
      font-size: 1.1rem;
      border-radius: 4px;
      margin-top: 3rem;
      text-transform: capitalize;

      @include btn($white, $main-color);

      @media (max-width: $med-desktop) {
        font-size: 1rem;
        padding: 0.4rem 1.5rem;
        font-weight: $sm-font;
        margin-top: 2rem;
      }
    }
  }
}
