.InstructorProfile-wrapper {
  //   border: 1px solid red;
  max-width: $main-width;
  margin: 4rem auto;
  display: flex;
  padding: 0 1rem;

  .left-row {
    //  border: 1px solid blue;
    margin-right: 10rem;
    text-align: center;

    p {
      font-size: 0.9rem;
    }

    .name {
      font-weight: 300;
      margin-top: 0.8rem;
      margin-bottom: 0.2rem;
      font-size: 1.5rem;
    }

    .left-row-img {
      width: 200px;
      height: 200px;
      background: grey;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  button {
    margin-top: 1.5rem;
    background: $main-color;
    color: $white;
    padding: 0.5rem 1.8rem;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.8rem;
    width: 130px;
  }

  .profile-img-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //  align-items: center;
    //  border: 1px solid red;
    input {
      font-size: 1rem;
      border-radius: 4px;
      border: none;
      text-align: center;
    }
  }
}

.go-back-btn {
  margin: 5rem 0 3rem;
  display: flex;
  justify-content: center;
  a {
    background: $main-color;
    color: $white;
    padding: 0.5rem 1.8rem;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
