.DisplayInstructorClasses {
  width: $width-content;
  margin: 2rem auto 5rem;

  @include flex(center);
  flex-wrap: wrap;
}

.InstructorCardClass {
  width: 30%;
  background: $white;
  border-radius: 5px;

  @media (max-width: $desktop) {
    width: 42%;
  }

  @media (max-width: $med-desktop) {
    width: 500px;
  }
  @media (max-width: $mobile) {
    max-width: 400px;
  }

  margin: 0 1rem 5rem;

  .InstructorCardClass-img {
    img {
      width: 100%;
      border-radius: 5px;
      height: 320px;
      object-fit: cover;

      @media (max-width: $desktop) {
        height: 280px;
      }

      @media (max-width: $mobile) {
        max-height: 224px;
      }
    }
  }

  .InstructorCardClass-description {
    padding: 0 0.5rem;

    .Instructor-top-row {
      @include flex(space-between);
      padding: 0.8rem 0;
      font-size: 1.1rem;

      .name {
        color: $black;
        font-size: 1.2rem;

        @media (max-width: $med-desktop) {
          font-size: 1.1rem;
        }
      }

      .price {
        color: $main-color;
        font-size: 1.2rem;
        font-weight: $sm-font;

        @media (max-width: $desktop) {
          font-size: 1.1rem;
        }
      }
    }

    .duration {
      color: grey;
      margin-bottom: 0.5rem;

      @media (max-width: $desktop) {
        font-weight: $sm-font;
      }
    }

    .bottom-row {
      @include flex(space-between);

      .starts {
        color: $black;
        display: inline-block;
        padding: 0.8rem 0;

        @media (max-width: $desktop) {
          padding: 0.5rem 1rem;
          font-weight: $sm-font;
        }
      }

      .icons {
        font-size: 1.2rem;
        display: flex;
        align-items: center;

        .edit {
          cursor: pointer;
          margin-right: 1rem;
          padding: 0.2rem;
        }
        .del {
          cursor: pointer;
          padding: 0.2rem;
        }
      }
    }
  }
}
