.Navbar-wrapper {
  //   border-bottom: 1px solid $black;

  .Marketing-Navbar {
    width: $main-width;
    height: 7vh;
    margin: 0 auto;
    //   border: 1px solid red;
    padding: 0 1rem;
    text-transform: capitalize;

    @include flex(space-between);
    align-items: center;

    #model-nav {
      // border: 1px solid red;
      display: flex;

      a {
        //   border: 1px solid red;
        margin-right: 1rem;
        text-decoration: none;
        //   padding: 0.2rem 0.4rem;
        padding: 0 0.9rem;
        color: $white;

        text-transform: uppercase;
        font-size: 1rem;

        &:first-child {
          margin: 0;
        }

        &:last-child {
          margin: 0;
        }
      }

      .active {
        color: $main-color;
      }
    }
  }
}

/// model links

#model-links {
  //   border: 1px solid red;
  #model-links-btn {
    button {
      color: $white;
      border: none;
      outline: none;
      background: none;
      // font-size: 1rem;
      padding: 0 0.9rem;

      text-transform: uppercase;
      // border: 1px soli red;

      &:hover {
        background: none;
      }
    }
  }
}

.option-btn {
  //  border: 1px solid red;
  text-align: center;

  margin: -1.5rem 0 2rem;
  color: grey;
  font-weight: $sm-font;
  //  margin-bottom: -1rem;

  span {
    button {
      border: none;
      color: $main-color;
      font-weight: 300;
      outline: none;
    }
  }
}

#home-modal-container {
  //   border: 1px solid red;
  padding: -2rem 0;
}

#close-credential-modal {
  display: flex;
  justify-content: flex-end;
  button {
    border: none;
    outline: none;
    //  font-size: 0.6rem;
    //  margin: 0;
    padding-top: 1rem;
    &:hover {
      background: none;
    }
  }
}
