.Navbar-wrapper {
  .Marketing-Navbar {
    max-width: $main-width;
    height: $nav-height;
    margin: 0 auto;
    padding: 0 1rem;
    text-transform: capitalize;

    @media (max-width: $laptop) {
      flex-direction: column;
      padding-top: 1rem;
    }

    @include flex(space-between);
    align-items: center;

    h1 {
      font-weight: $sm-font;

      @media (max-width: $desktop) {
        font-size: 2rem;
      }
    }

    #model-nav {
      display: flex;
      align-items: center;

      a {
        margin-right: 1rem;
        text-decoration: none;
        padding: 0 0.9rem;
        color: $white;
        text-transform: uppercase;
        font-size: 1rem;

        @media (max-width: $desktop) {
          font-size: 0.9rem;
        }

        &:first-child {
          margin: 0;
        }

        &:last-child {
          margin: 0;
        }
      }

      .active {
        color: $main-color;
      }
    }
  }
}

/// model links

#model-links {
  #model-links-btn {
    button {
      color: $white;
      border: none;
      outline: none;
      background: none;
      padding: 0 0.9rem;

      @media (max-width: $desktop) {
        font-size: 0.9rem;
      }

      text-transform: uppercase;

      &:hover {
        background: none;
      }
    }
  }
}

.option-btn {
  text-align: center;
  margin: -1.5rem 0 2rem;
  color: grey;
  font-weight: $sm-font;

  span {
    button {
      @include btn($main-color, none);
      font-weight: $sm-font;
    }
  }
}

#home-modal-container {
  padding: -2rem 0;
}

#close-credential-modal {
  @include flex(flex-end);

  button {
    @include btn($black, none);
    padding-top: 1rem;
    &:hover {
      background: none;
    }
  }
}
