.marketing-Content {
  max-width: $width-content;
  margin: 7rem auto;

  .sub-titles {
    text-align: center;
    margin-bottom: 4rem;

    h3 {
      color: $main-color;
      text-transform: uppercase;
      font-size: 1.4rem;

      @media (max-width: $desktop) {
        font-size: 1.2rem;
      }
    }

    h1 {
      text-transform: capitalize;
      margin: 1rem 0 2rem;
      font-size: 2rem;

      @media (max-width: $desktop) {
        font-size: 1.8rem;
      }
    }
  }

  .marketing-content-options {
    @include flex(center);

    flex-wrap: wrap;
    padding: 1rem 0;

    .content-options-img {
      position: relative;
      border-radius: 5px;
      margin: 0 1rem 1rem;
      width: 250px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }

      span {
        position: absolute;
        height: 100%;
        border-radius: 4px;
        width: 100%;
        @include flex(center);

        top: 50%;
        left: 50%;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        font-size: 0.9rem;
        transform: translate(-50%, -50%);
        color: $white;
        padding: 0 2rem;
      }
    }
  }
}

.about-our-web {
  max-width: 900px;
  margin: 0 auto 8rem;
  padding: 0 2rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;

    @media (max-width: $desktop) {
      font-size: 1.8rem;
    }
  }

  p {
    font-size: $main-size;

    @media (max-width: $desktop) {
      font-size: 1rem;
    }
  }
}

.marketing-content-info {
  width: 100%;
  height: 60vh;
  margin: 0 auto 8rem;
  position: relative;
  background: rgba(0, 0, 0, 0.5);

  @media (max-width: $desktop) {
    height: 40vh;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/marketing1.jpg");
    @include bgProps();
    z-index: -1;
  }

  .content-info-wrapper {
    color: $white;
    height: 100%;
    @include flex(center);

    flex-direction: column;
    align-items: center;
    padding: 0 2rem;

    p {
      font-size: $main-size;

      @media (max-width: $desktop) {
        font-size: 1rem;
      }
      &:first-child {
        margin-bottom: 1.5rem;
        font-size: 1.9rem;

        @media (max-width: $desktop) {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.Carousel-wrapper {
  h1 {
    text-align: center;
    margin: 1rem 0 4rem;
    font-size: 2rem;

    @media (max-width: $desktop) {
      font-size: 1.8rem;
    }
  }
  h4 {
    text-align: center;
    color: $main-color;
    text-transform: uppercase;
    font-size: 1.4rem;

    @media (max-width: $desktop) {
      font-size: 1.2rem;
    }
  }
}

#Carousel {
  width: 900px;
  margin: 0 auto 8rem;

  img {
    width: 900px;
    height: 400px;
    object-fit: cover;

    @media (max-width: $desktop) {
      width: 100%;
      height: 250px;
    }
  }
}
