.marketing-header-wrapper {
  color: $white;
  background: rgba(0, 0, 0, 0.5);

  @media (max-width: $desktop) {
    height: 80vh;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/marketing.jpg");
    @include bgProps();
    z-index: -1;

    @media (max-width: $desktop) {
      height: 80vh;
    }
  }
}

.marketing-Header {
  height: 93vh;

  @media (max-width: $desktop) {
    height: 80vh;
  }

  @include flex(center);
  align-items: center;

  .marketing-header-content {
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;

      @media (max-width: $desktop) {
        font-size: 2.1rem;
        font-weight: $sm-font;
        margin-bottom: 1rem;
      }
    }

    p {
      width: 60%;
      line-height: 1.5;
      margin: 0 auto 2rem;
      font-size: $main-size;
      margin-bottom: 2rem;

      @media (max-width: $desktop) {
        font-size: 1rem;
      }
    }

    .btn-learn-more {
      button {
        font-size: $main-size;
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
        text-transform: capitalize;

        @include btn($white, $main-color);

        @media (max-width: $desktop) {
          font-size: 1rem;
        }
      }
    }
  }
}
