$main-color: #ff9233;
$white: #f4f4f4;
$black: #333;

$main-width: 87%;
$main-size: 1.2rem;

$sm-font: 300;
$nav-height: 7vh;

$big-desktop: 1600px;
$desktop: 1000px;
$med-desktop: 800px;
$laptop: 600px;
$mobile: 500px;

$width-content: 1800px;

// h1 size 2.1  || 1.8
// p 1 button 1rem a tags
